// 米印インデント調整
@mixin indent {
  padding-left: 1em;
  text-indent: -1em;
}

// 最大横幅設定
@mixin tabletMaxWidth {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
}
@mixin pcMaxWidth {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

// 横並び設定
@mixin flex {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

// ブレイクポイント設定
$breakPoints: (
  'spHorizontal': 'screen and (min-width: 560px)',
  'tabletVertical': 'screen and (min-width: 768px)',
  'tabletHorizontal': 'screen and (min-width: 960px)',
  'pc': 'screen and (min-width: 1025px)',
);

@mixin mq($breakPoint) {
  @media #{map-get($breakPoints, $breakPoint)} {
    @content;
  }
}
